<div class="page-body">
  <div class="container-xl">
    <div class="row row-cards">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Manage Admins</h3>
          </div>
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Add or Remove</th>
              </tr>
            </thead>
            <tbody>
            <% @users.each do |user| %>
              <tr>
                <th scope="row"><%= user.id %></th>
                <td><%= user.first_name %> <%= user.last_name %></td>
                <td>
                  <% if policy([:attributes, user]).valid_admin?(false) %>
                    <%= link_to 'Remove', user_admin_path(user), method: :delete, class: 'btn btn-danger' %>
                  <% elsif policy([:attributes, user]).valid_admin?(true) %>
                    <%= link_to 'Add', user_admin_path(user), method: :post, class: 'btn btn-success' %>
                  <% else %>
                    <%= user.admin? ? 'Admin' : 'User' %>
                  <% end %>
                </td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
        <%= link_to 'Back', root_path, class: 'btn btn-warning' %>
      </div>
    </div>
  </div>
</div>
