<div class="container mx-auto">
  <div>
    <div>
      <div>
        <%= image_tag('200.png', class: "" ) %>
      </div>

    </div>
    <div class="px-5">
      <div>
        <h2 class="align-middle"><%= @user.first_name %> <%= @user.last_name %></h2>
        <span>Junior Developer</span>
        <div class="mt-3">
          <%= button_tag(:type => 'submit', :class => 'py-2 px-4') do %>
            <i></i> Send message
          <% end %>
        </div>
      </div>

      <div class="py-4">
        <h4>Info</h4>
        <table>
          <tbody>
            <tr>
              <td>E-mail:</td>
              <td><%= mail_to @user.email, @user.email %></td>
            </tr>
            <tr>
              <td>Phone:</td>
              <td>+36/30 123 1234</td>
            </tr>
          </tbody>

        </table>
      </div>

      <div>
        <h4>Attached projects</h4>
        <% if @user.projects.any? %>

        <% @user.projects.each do |project| %>
         <%= link_to project.title, project %>
        <% end %>
          <%else %>
        This user isn't attached to any projects yet.
        <% end %>
      </div>

      <% if current_user == @user %>
        <%= link_to "Edit profile", edit_user_registration_path %>
      <% end %>
    </div>


  </div>
</div>