<div class="page-header d-print-none text-white">
  <div class="container-xl">
    <div class="row g-2 align-items-center">
      <div class="col">
        <div class="page-pretitle">
          Overview
        </div>
        <h2 class="page-title">
          Projects
        </h2>
      </div>
      <div class="col-auto ms-auto d-print-none">
        <div class="btn-list">
          <% if params[:all] == 'true' %>
            <%= link_to root_path(all: 'false'), class: 'btn btn-primary' do %>
              <%= inline_svg_pack_tag('static/node_modules/@tabler/icons/icons/eye.svg') %>
              View my projects
            <% end %>
          <% else %>
            <%= link_to root_path(all: 'true'), class: 'btn btn-primary' do %>
              <%= inline_svg_pack_tag('static/node_modules/@tabler/icons/icons/eye.svg') %>
              View all projects
            <% end %>
          <% end %>
          <%= link_to new_project_path, class: 'btn btn-primary d-none d-sm-inline-block' do %>
            <%= inline_svg_pack_tag('static/node_modules/@tabler/icons/icons/plus.svg') %>
            Create new project
          <% end %>

          <%= link_to new_user_path, class: 'btn btn-primary d-none d-sm-inline-block' do %>
            <%= inline_svg_pack_tag('static/node_modules/@tabler/icons/icons/plus.svg') %>
            Create new user
          <% end %>

        </div>
      </div>
    </div>
  </div>
</div>
<div class="container mx-auto">
  <% if !@projects.nil? %>
    <div>
      <div class="page-body">
        <div class="container-xl">
          <div class="row row-deck row-cards">
            <% @projects.each do |project| %>
              <%= render 'projects/project', project: project %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% else %>
    <p>No projects could be found.</p>
  <% end %>
</div>
