<%= form_with model: project do |f| %>
  <div>
    <div class="my-3">
      <%= f.label :title %>
      <%= f.text_field :title %>
      <% if @project.errors.include?(:title) %>
        <% @project.errors.full_messages_for(:title).each do |msg| %>
          <p><%= msg %></p>
        <% end %>
      <% end %>
    </div>
  </div>

  <div>
    <%= link_to 'Cancel', root_path %>

    <%= f.submit 'Submit' %>
  </div>

<% end %>
