<div class="page-header d-print-none text-white">
  <div class="container-xl">
    <div class="row g-2 align-items-center">
      <div class="col">
        <div class="page-pretitle">
          Project overview
        </div>
        <h2 class="page-title">
          <%= link_to project.title, project_path(project) %>
        </h2>
      </div>
      <div class="col-auto ms-auto d-print-none">
        <div class="btn-list">
          <span class="dropdown">
            <a href="#" class="btn btn-primary dropdown-toggle align-text-top show"
               data-bs-boundary="viewport" data-bs-toggle="dropdown">
                <%= inline_svg_pack_tag('static/node_modules/@tabler/icons/icons/plus.svg') %> New
            </a>
            <div class="dropdown-menu dropdown-menu-end" data-popper-placement="bottom-end" style="position: absolute; inset: 0px 0px auto auto; margin: 0px; transform: translate3d(0px, 29.5px, 0px);">
              <%= link_to 'Account', new_project_account_path(project), class: 'dropdown-item' %>
              <%= link_to 'Link', new_project_link_path(project), class: 'dropdown-item' %>
            </div>
          </span>
        </div>
      </div>
      <% if policy(@project).edit? %>
        <div class="col-auto ms-auto d-print-none">
          <%= link_to edit_project_path(@project), class: 'btn btn-primary' do %>
              <%= inline_svg_pack_tag('static/node_modules/@tabler/icons/icons/pencil.svg') %> Edit
          <% end %>
        </div>
      <% end %>
      <% if policy(@project).destroy? %>
        <div class="col-auto ms-auto d-print-none">
          <% if @project.deactivated_at.blank? %>
            <%= link_to project_path(@project),
                        method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' do %>
              <span class="d-md-flex d-lg-inline-block align-middle">
                <%= inline_svg_pack_tag('static/node_modules/@tabler/icons/icons/trash.svg', class: 'm-0') %> Delete
              </span>
            <% end %>
          <% else %>
            <%= link_to project_path(@project, { project: { deactivated_at: nil } }),
              method: :patch, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' do %>
              <span class="d-md-flex d-lg-inline-block align-middle">
                <%= inline_svg_pack_tag('static/node_modules/@tabler/icons/icons/eye.svg', class: 'm-0') %> Reactivate
              </span>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
