<div class="container mx-auto">
  <div class="mt-5">
    <div class="mb-3">
      <%= @project.title %>
    </div>

    <span>Status:</span>
    <div class="px-2 py-1 align-top w-auto text-white" style="background: <%= @project.status.background %>">
       <%= @project.status.title %>
    </div>
    <br>
    <span>Moved to our ownership at <strong><%= @project.acquired_at.strftime("%Y, %B") %></strong></span><br>
  </div>
  <div>
    <strong>Attached members:</strong>

    <% @project.users.each do |user| %>
      <%= link_to user.first_name, user %>
    <% end %>

  </div>

  <div>
    <h4>Description</h4>
    <%= @project.description %>
  </div>

  <div class="content py-8">
    <h4 class="text-lg font-bold">Accounts</h4>
    <table class="table">
      <thead>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
      </thead>
      <tbody>
        <% @project.accounts.each do |account| %>
          <tr>
            <td><%= account.name %></td>
            <td><%= account.description %></td>
          <tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <% unless current_user.nil? %>
    <%= link_to 'Edit', edit_project_path, class: "px-4 py-2 text-white" %>
  <% end %>
</div>