<%= render 'projects/header', project: @project %>
<div class="page-body">
  <div class="container-xl">
    <div class="row row-cards">
      <div class="col-sm-6 col-lg-3">
        <%= render 'projects/counter_overview', icon_path: 'static/@tabler/icons/icons/key.svg' do %>
          <%= link_to "#{@project.accounts.count} #{'Account'.pluralize(@project.accounts.count)}",
                      project_accounts_path(@project) %>
        <% end %>
      </div>
      <div class="col-sm-6 col-lg-3">
        <%= render 'projects/counter_overview', icon_path: 'static/@tabler/icons/icons/users.svg' do %>
          <%= link_to "#{@project.maintainers.count} #{'Maintainer'.pluralize(@project.maintainers.count)}",
                      edit_project_maintainers_path(@project) %>
        <% end %>
      </div>
      <div class="col-sm-6 col-lg-3">
        <%= render 'projects/counter_overview', icon_path: 'static/@tabler/icons/icons/link.svg' do %>
          <%= link_to "#{@project.links.count} #{'Link'.pluralize(@project.links.count)}",
                      project_links_path(@project) %>
        <% end %>
      </div>
    </div>
    <div class="row row-cards mt-2">
      <%= render 'links/table', links: @links, action_buttons: false %>
    </div>
  </div>
</div>
