<div class="col-12">
  <div class="card">
    <div class="card-header">
      <h3 class="card-title">Links</h3>
    </div>
    <% if links.any? %>
      <div class="table-responsive">
        <table class="table card-table table-vcenter text-nowrap datatable">
          <thead>
          <tr>
            <th>Page name</th>
            <th>Description</th>
            <th></th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <% links.each do |link| %>
            <tr>
              <td>
                <div class="d-flex">
                  <span class="d-flex align-items-center me-1">
                    <%= link.title %>
                  </span>
                  <%= link_to link.url, target: :_blank, rel: 'noopener' do %>
                    <span class="nav-link-icon d-md-none d-lg-inline-block">
                      <%= inline_svg_pack_tag('static/@tabler/icons/icons/link.svg') %>
                    </span>
                  <% end %>
                </div>
              </td>
              <td>
                <%= link.description %>
              </td>
              <td class="text-end">
                <%= link_to 'Edit', edit_project_link_path(@project, link), class: 'btn btn-primary' %>
              </td>
              <td class="text-end">
                <%= link_to project_link_path(@project, link),
                            method: :delete, class: 'btn btn-outline-danger' do %>
                  <span class="d-md-flex d-lg-inline-block align-middle">
                    <%= inline_svg_pack_tag('static/@tabler/icons/icons/trash.svg', class: 'm-0') %>
                  </span>
                <% end %>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
      <div class="card-footer d-flex align-items-center">
        <p class="m-0 text-muted">
          <%= links.count %> <%= 'item'.pluralize(links.count) %>
        </p>
      </div>
    <% else %>
      <p>No links could be found for this project.</p>
    <% end %>
  </div>
</div>
