<div class="mb-3">
  <label
    for="feedback_string_answers_attributes_<%= question.id %>_answer"
    class="form-label">
    <%= question.question %>
  </label>
  <input
    type="text"
    id="feedback_string_answers_attributes_<%= question.id %>_answer"
    name="feedback[string_answers_attributes][][answer]"
    class="form-control"
    autocomplete="off" />
  <input
    type="hidden"
    id="feedback_string_answers_attributes_<%= question.id %>_string_question_id"
    name="feedback[string_answers_attributes][][string_question_id]"
    value="<%= question.id %>" />
</div>
