<div class="page-body">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="container container-tight py-4">
          <div class="card card-md">
            <div class="card-body">
              <p class="fw-bold fs-3"><%= @form.title %></p>
              <% if @form.description.present? %>
                <p><%= @form.description %></p>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="container container-tight py-4">
          <div class="card card-md">
            <div class="card-body">
              <%= form_with model: Feedback, url: feedbacks_path(secret: params[:secret]), method: :post do |f| %>
                <%= f.hidden_field :form_id, value: @form.id %>
                <% [
                     @form.string_questions.to_a,
                     @form.text_questions.to_a,
                     @form.select_questions.to_a,
                     @form.scale_questions.to_a
                   ].flatten.sort_by { _1.order }.each do |question| %>
                  <% if question.is_a? StringQuestion %>
                    <%= render 'string_question', question: question, f: f %>
                  <% end %>
                  <% if question.is_a? TextQuestion %>
                    <%= render 'text_question', question: question, f: f %>
                  <% end %>
                  <% if question.is_a? SelectQuestion %>
                    <%= render 'select_question', question: question, f: f %>
                  <% end %>
                  <% if question.is_a? ScaleQuestion %>
                    <%= render 'scale_question', question: question, f: f %>
                  <% end %>
                <% end %>
                <%= f.submit 'Submit', class: 'btn btn-primary'%>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
