<header>
  <ul>
    <li><%= link_to "Home", root_path %></li>
    <% if user_signed_in? %>
      <p>Üdv, <%= current_user[:first_name] %>!</p>
      <li><%= link_to "Profile", current_user %></li>
      <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
      <li><%= link_to "Create project", new_project_path %></li>
      <li><%= link_to "Edit profile", edit_user_registration_path %></li>
    <% else %>
      <li><%= link_to "Log in", new_user_session_path %></li>
    <% end %>
  </ul>
</header>