<!DOCTYPE html>
<html>
  <head>
    <title>BelovedProjects</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body class="pt-5 bg-gray-100">
    <%= render 'layouts/header' %>

    <!-- Messages -->
    <% flash.each do |type, msg| %>
      <strong><%= msg %></strong>
    <% end %>

    <%= yield %>

    <%= debug(params) if Rails.env.development? %>
    </body>
</html>
