<!DOCTYPE html>
<html>
  <head>
    <title>BelovedProjects</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag 'application' %>
    <%= javascript_pack_tag 'dropdown', 'application' %>
  </head>

  <body class="pt-5">
    <%= render 'layouts/header' %>

    <!-- Messages -->
    <% flash.each do |type, msg| %>
      <strong><%= msg %></strong>
    <% end %>

    <%= yield %>
    </body>
</html>
