<%= form_with(model: @account, url: project_accounts_path(@project)) do |f| %>
  <div class="input-group-sm mb-3">
    <%= f.label :name, class: "input-group-text" %>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div class="input-group-sm mb-3">
    <%= f.label :description, class: "input-group-text" %>
    <%= f.text_area :description, class: "form-control" %>
  </div>
  <div>
    <%= link_to "Cancel", project_path(@project), class: "btn btn-warning"  %>
    <%= f.submit "Submit", class: "btn btn-primary" %>
  </div>
<% end %>
